SIH - Sistema de Informações Hospitalares

SIH é o sistema que registra  toda  a  produção  de  internações  no  âmbito  do  SUS  com  a  finalidade  de remuneração dos serviços prestados. Abase de dados doSIH é alimentada poruminstrumento de coleta, AIH –Autorização de  Internação  Hospitalar, que  é  preenchidopelos  estabelecimentos  de  saúde  para cada  internação.Cada  internação  gera  uma  AIH  que  contem,  além  do  número  que identifica a autorização de internação, dados de identificação do paciente, registro dos procedimentos  médicos  e  serviços de  diagnose  e  terapia  e  código  da  doença diagnosticada (CID)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv(r'data\SPSP1802.zip',encoding='latin-1',nrows=100000)

c:\users\lguimara\appdata\local\programs\python\python37-32\lib\site-packages\IPython\core\interactiveshell.py:3058: DtypeWarning: Columns (16,25) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

PROCREA - Procedimento Realizado

In [3]:
data_proc = pd.read_csv(r'data\TPROCUNI.csv',encoding='latin-1')

In [5]:
data_proc.head(1)

      IP_COD                                            IP_DSCR  COMPET
0  101010010  ATIVIDADE EDUCATIVA / ORIENTAÇÃO EM GRUPO NA A...  201905

CNES - Cadastro Nacional de Estabelecimento de Saúde

In [10]:
data_cnes = pd.read_csv(r'data\TCNESSP.csv',encoding='latin-1')

In [12]:
data_cnes.head(1)

   CNES                           NOMEFANT  UF_ZI    CMPT
0  8028  HOSPITAL MUNICIPAL ANTONIO GIGLIO     35  201905

In [16]:
data_gestor = pd.read_csv(r'data\LIBGESTOR.csv',encoding='latin-1')

In [20]:
data_gestor

    COD_LIB                                           DESC_LIB
0     CO_IT                                       DS_DESCRICAO
1     00001                               TEMPO DE PERMANENCIA
2     00002                                        IDADE MENOR
3     00003                                        IDADE MAIOR
4     00004                       TEMPO DE PERMANENCIA E IDADE
..      ...                                                ...
209     239           CNS E TELEFONE E CBO E QTD E PERM. MENOR
210     240             CNS E TELEFONE E CBO E QTD E ID. MENOR
211     241  CNS E TELEFONE E CBO E QTD E ID. MENOR E PERM....
212     242             CNS E TELEFONE E CBO E QTD E ID. MAIOR
213     243  CNS E TELEFONE E CBO E QTD E ID. MAIOR E PERM....

[214 rows x 2 columns]

In [7]:
data = pd.merge(data, data_proc, left_on='SP_PROCREA', right_on='IP_COD')

In [13]:
data = pd.merge(data, data_cnes, left_on='SP_CNES',right_on='CNES')

In [23]:
data.dtypes

SP_GESTOR       int64
SP_UF           int64
SP_AA           int64
SP_MM           int64
SP_CNES         int64
SP_NAIH         int64
SP_PROCREA      int64
SP_DTINTER      int64
SP_DTSAIDA      int64
SP_NUM_PR     float64
SP_TIPO       float64
SP_CPFCGC       int64
SP_ATOPROF      int64
SP_TP_ATO     float64
SP_QTD_ATO      int64
SP_PTSP         int64
SP_NF          object
SP_VALATO     float64
SP_M_HOSP       int64
SP_M_PAC        int64
SP_DES_HOS      int64
SP_DES_PAC      int64
SP_COMPLEX      int64
SP_FINANC       int64
SP_CO_FAEC    float64
SP_PF_CBO      object
SP_PF_DOC       int64
SP_PJ_DOC       int64
IN_TP_VAL       int64
SEQUENCIA       int64
REMESSA        object
SERV_CLA        int64
SP_CIDPRI      object
SP_CIDSEC       int64
SP_QT_PROC      int64
SP_U_AIH        int64
IP_COD          int64
IP_DSCR        object
COMPET          int64
CNES            int64
NOMEFANT       object
UF_ZI           int64
CMPT            int64
dtype: object